# === .NET ===
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
# Local appsettings
backend/GestaoProjetos.Api/appsettings.Development.json
# EF Core design migrations artifacts if database local db is created
*.db

# === Angular ===
node_modules/
.angular/
dist/
.vscode/
.idea/
tmp/
out-tsc/
bazel-out/
.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# IDEs and editors
.project
.classpath
.settings/
.cache/
